body {
  padding-top: 50px;
  font-size: 16px;
  color: #ff8093; /*#ff9999;*/
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}
.container-fluid {
  padding: 0px;
}
.block {
  height: 850px;
}
.content-block {
  height: 850px;
}
/** HEADER **/
#header-nav {
  background-color: white;
  border-radius: 0;
  border: 0;
}
.navbar-header h1{
  margin-top: 10px;
  margin-left: 5px;
  color: #ff8093;
  font-size: 30px;
}
.navbar-header a:hover, .navbar-header a:focus {
  text-decoration: none;
}

#nav-list a {
  color: #ff8093;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 30px;
  padding: 0px;
}
#nav-list a:hover {
  background: transparent;
  text-decoration: underline;
  color: #ffcc00;
}
#nav-list .active a{
  color: #666666
}
hr {
  margin: 0;
}

.icon-bar{
  border: 1px solid #ff8093;
}
/*.icon-bar .active{
  border: 1px solid #666666;
}*/
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
/*FOOTER*/
.panel-footer {
  width: 100%;
  bottom: 0px;
  background-color: white;
}
.panel-footer div {
  width: 100%;
  /*position: absolute;*/
  border: 0px;
  background: white;
}
/*#footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding-bottom: 5px;
}*/
/*ALL PAGES*/
#main-content {
  /*position: relative;*/
  /*margin-top: 30px;*/
}
#main-content h1{
  text-align: center;
  font-size: 4em;
  color: #ff8093;
}
#link {
  color: #ff8093;
}
#link:hover {
  color: #ffcc00;
}
/**HOME PAGE**/
#home {
  position: relative;
  text-align: center;
  width: 100%;
  background-image: url("../images/pexels-photo.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}
/*#home img {
  margin-bottom: 40px;
  box-shadow: 0px 4px 10px #666666;
}*/
/*#home {
  background-image: url("../images/pexels-photo.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}*/
}
#home-contents {
  /*height: 100%;*/

  /*width: 100%;*/
  /*position: absolute;*/

  /*margin-top: 100px;*/
  /*top: 100px;*/
}
#home {
  position: relative;
  text-align: center;

}
#home-contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10%;
  /*position: absolute;*/
}
#home > h1 {
  position: absolute;
  width: 100%;
  top: 15%;
  margin: 0px;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 20px;
  text-shadow: 30px;
  /*margin: auto;*/
  font-size: 90px;
  text-shadow: 2px 2px 8px white;
  font-weight: lighter;
}

#home > p {
  position: absolute;
  top: 30%;
  width: 100%;
  /*top: 2%;*/
  /*height: 100%;*/
  font-size: 32px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px white;

  /*margin-top: 20%;*/
  /*font-weight: bold;*/
}
#home-tiles {
  position: absolute;
  width: 100%;
  bottom: 10%;
  /*margin-top: 500px;*/
  color: white;
}
#home-buttons p {
  margin: 10px 0 0;
}
#home-buttons button{
    width: 200px;
    background-color: #ff8093;
    border: none;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}

#home-buttons button:active, #button-div button:focus {
  outline-color: #666666;
}

@media (max-width: 1200px) {
  #home > h1 {
    font-size: 70px;
  }
  #home > p {
    font-size: 25px;
  }
  #home-tiles {
    bottom: 15%;
  }
}
@media (max-width: 945px) {
  .block {
    height: 550px;
  }
  #home > h1 {
    font-size: 50px;
    top: 20%;
  }
  #home > p {
    font-size: 25px;
  }
  #home-tiles {
    bottom: ;
    /*color: #ff8093;*/
  }
}
@media (max-width: 991px) {
  .navbar-header h1{
    margin-left: 25px;
    font-size: 24px;
  }
  .block {
    height: 550px;
  }
  #home > h1 {
    font-size: 50px;
    top: 20%;
  }
  #home > p {
    font-size: 25px;
  }
  #home-tiles {
    text-align: center;
    color: #ff8093;
    top: 70%
  }
}
@media (max-width: 767px) {
  .block {
    height: 400px;
  }
  #home > h1 {
    font-size: 40px;
    top: 20%;
  }
  #home > p {
    font-size: 20px;
    top: 50%;
  }
  #home-tiles {
    text-align: center;
    /*position: relative;*/
    top: 100%;
     /*bottom: 20px;;*/
    /*font-size: 10;*/
    color: #ff8093;
  }
  #home-buttons button{
    /*font-size: 10px;*/
  }
}

/**ABOUT PAGE**/
#about-row {
  height: 400px;
}
.about_contents {
  margin-top: 40px;
}
.about_contents p {
  color: #666666;
  text-align: left;
  /*margin: 0px 40px 40px 20px;*/
  padding: 0px 20px 0px 20px;
}
#about img {
  display: inline;
  /*margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;*/
  box-shadow: 0px 4px 10px #666666;
}

/**CLASSES PAGE**/
#classes div {
  color: #666666;
}
.classes_contents {
  margin-top: 60px;
}
.classes_contents p{
  text-align: center;
}
@media (min-width: 376px) {
  .classes_date p{
    padding-right: 20px;
    text-align: right;
    font-weight: 900;
    font-size: 1.2em;
  }
  .classes_location p{
    text-align: left;
  }
}
.classes-div {
  /*color: #666666;*/
  width: 100%;
  text-align: left;
  /*margin: 0px 40px 40px 20px;*/
  padding: 0px 20px 0px 20px;
}
.classes_location a{
  color: black;
}
.classes_location a:hover{
  color: #ffcc00;
  text-decoration: underline;
}

#map {
  display: block;
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}

/*CONTACT PAGE*/
#contact > div {
  color: #666666;
}
.contact_contents {
  margin-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
}
.contact_contents a {
  color: black;
  text-decoration: none;
}
.contact_contents a:hover {
  color: #ffcc00;
  text-decoration: underline;
}
/*SUBSCRIBE*/
.subscribe_contents {
  margin-top: 40px;
}
.subscribe_contents p{
  text-align: center;
  color: #666666;
}
.subscribe_contents img {
  display: block;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 10px #666666;
}

.name-line {
  margin-top: 15px;
  padding-left: 15px;
  color: #ff8093;
}
#form-template {
  margin-bottom: 60px;
  /*padding-left: 15%;
  padding-right: 15%;*/
}
@media (min-width: 769px) {
 #form-template {
   padding-left: 15%;
   padding-right: 15%;
 }
}
.form-layout {
  margin-top: 5px;
}
input[type=text]:focus, textarea[type=text]:focus {
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #ccc;
}
#button-div {
  margin-top: 30px;
  text-align: center;
}
#button-div button {
  color: white;
  background-color: #ff8093;
}
#button-div button:active, #button-div button:focus {
  outline-color: #666666;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content h2 {
  color: #ff8093;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
